::-webkit-scrollbar {
    width: 10px;
    height: 14px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #9C9C9C;
    border: 0px none #ffffff;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #9C9C9C;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #9C9C9C;
  }
  ::-webkit-scrollbar-track {
    background: #080808;
    border: 0px none #ffffff;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #080808;
  }
  ::-webkit-scrollbar-track:active {
    background: #080808;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }