<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="landing-page-eduardo-m/src/main/resources/templates/styles/style.css" />
  <link rel="stylesheet" href="landing-page-eduardo-m/src/main/resources/templates/styles/reset.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="landing-page-eduardo-m/src/main/resources/templates/styles/scrollbar.css">
  <title>Charles Eduardo Landing Page</title>
</head>

<body>
  <main>
    <header>
      <nav>
        <ul>
          <li class="c_text_menu"><a href="/index.html" class="text_menu">Home</a></li>
          <li class="c_text_menu"><a href="/about.html" class="text_menu">About</a></li>
          <li class="c_text_menu"><a href="https://my-page-bbhtxl4sw-eduardomg12.vercel.app" target="_blank"
              class="text_menu">Portfolio</a></li>
        </ul>
      </nav>
      <ul class="icons_midias_social">
        <li><a href="https://www.linkedin.com/in/eduardomg12/" target="_blank"
            class="fa-brands fa-linkedin-in icon_midias_sociais"></a></li>
        <li><a href="https://github.com/EduardoMG12" target="_blank"
            class="fa-brands fa-github icon_midias_sociais"></a></li>
        <li><a
            href="https://api.whatsapp.com/send/?phone=5546999701602&text=vim+pela+sua+LandingPage&type=phone_number&app_absent=0"
            target="_blank" class="fa-brands fa-whatsapp icon_midias_sociais"></a></li>
      </ul>
    </header>
    <section class="about">
      <div class="c_myimg">
        <div class="animation_myimg">
          <div class="myimg"></div>
        </div>
      </div>

      <div class="c_about_text">
        <div class="about_text">
          <h1>Charles Eduardo</h1>
          <p>
            Tenho 19 anos e sou um front end developer, que entrou na area por
            pura curiosidade e criei uma paixão por tudo isso. Tenho o
            objetivo de me tornar um desenvolvedor full-stack mas por enquanto
            quero me especializar na área do front
          </p>
        </div>
      </div>
    </section>
    <section class="about_2">
      <div class="s_c_myimg"><img src="../images/eu.jpg" alt="" srcset=""></div>
    </section>

  </main>
</body>

</html>